# Exam for Machine Learning Python Lab
Uploading and reading a small portion of Online-Retail-France.xlsx with pandas

In [75]:
# Imports
import pandas as pd
import numpy as np

# Variables
file_name = 'Online-Retail-France.xlsx'
random_state = 42

# Directives
%matplotlib inline
np.random.seed(random_state)

df = pd.read_excel(file_name)
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID
0,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583.0
1,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583.0
2,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,2010-12-01 08:45:00,3.75,12583.0
3,536370,21724,PANDA AND BUNNIES STICKER SHEET,12,2010-12-01 08:45:00,0.85,12583.0
4,536370,21883,STARS GIFT TAPE,24,2010-12-01 08:45:00,0.65,12583.0

## Showing the number of different Descriprion Values registered

In [79]:
print(df.groupby('Description').nunique().count)

<bound method DataFrame.count of                                   InvoiceNo  StockCode  Quantity  InvoiceDate  \
Description
 50'S CHRISTMAS GIFT BAG LARGE            1          1         1            1
 DOLLY GIRL BEAKER                        9          1         2            9
 I LOVE LONDON MINI BACKPACK              5          1         2            5
 NINE DRAWER OFFICE TIDY                  1          1         1            1
 SET 2 TEA TOWELS I LOVE LONDON           7          1         4            7
...                                     ...        ...       ...          ...
ZINC FOLKART SLEIGH BELLS                 8          1         3            8
ZINC HERB GARDEN CONTAINER                1          1         1            1
ZINC METAL HEART DECORATION               4          1         2            4
ZINC T-LIGHT HOLDER STAR LARGE            1          1         1            1
ZINC T-LIGHT HOLDER STARS SMALL           2          1         1            2

                                  UnitPrice  CustomerID
Description
 50'S CHRISTMAS GIFT BAG LARGE            1           1
 DOLLY GIRL BEAKER                        1           7
 I LOVE LONDON MINI BACKPACK              1           5
 NINE DRAWER OFFICE TIDY                  1           1
 SET 2 TEA TOWELS I LOVE LONDON           2           7
...                                     ...         ...
ZINC FOLKART SLEIGH BELLS                 1           6
ZINC HERB GARDEN CONTAINER                1           1
ZINC METAL HEART DECORATION               1           2
ZINC T-LIGHT HOLDER STAR LARGE            1           1
ZINC T-LIGHT HOLDER STARS SMALL           1           2

[1565 rows x 6 columns]>

## Showing number of different Description Values after cleaning leading and spaces

In [88]:
print(df['Description'].str.strip().nunique())

1564

## Removing extra rows with no value in invoiceNo column, then show every changes

In [102]:
dfclean = (df[df['InvoiceNo'].notnull()])
print(dfclean)
print ("number of different descriptions: {}".format(dfclean['Description'].str.strip().nunique()))

     InvoiceNo StockCode                      Description  Quantity  \
0       536370     22728        ALARM CLOCK BAKELIKE PINK        24
1       536370     22727        ALARM CLOCK BAKELIKE RED         24
2       536370     22726       ALARM CLOCK BAKELIKE GREEN        12
3       536370     21724  PANDA AND BUNNIES STICKER SHEET        12
4       536370     21883                 STARS GIFT TAPE         24
...        ...       ...                              ...       ...
8551    581587     23256      CHILDRENS CUTLERY SPACEBOY          4
8552    581587     22613      PACK OF 20 SPACEBOY NAPKINS        12
8553    581587     22899     CHILDREN'S APRON DOLLY GIRL          6
8554    581587     23254    CHILDRENS CUTLERY DOLLY GIRL          4
8556    581587     22138    BAKING SET 9 PIECE RETROSPOT          3

              InvoiceDate  UnitPrice  CustomerID
0     2010-12-01 08:45:00       3.75     12583.0
1     2010-12-01 08:45:00       3.75     12583.0
2     2010-12-01 08:45:00       3.75     12583.0
3     2010-12-01 08:45:00       0.85     12583.0
4     2010-12-01 08:45:00       0.65     12583.0
...                   ...        ...         ...
8551  2011-12-09 12:50:00       4.15     12680.0
8552  2011-12-09 12:50:00       0.85     12680.0
8553  2011-12-09 12:50:00       2.10     12680.0
8554  2011-12-09 12:50:00       4.15     12680.0
8556  2011-12-09 12:50:00       4.95     12680.0

[8556 rows x 7 columns]
number of different descriptions: 1564

# Some InvoiceNo start with a C. They are "credit transactions" and must be removed. Inspect the effect of this cleaning.

In [104]:
dfclean= dfclean[dfclean['InvoiceNo'].astype(str).str.startswith('C')==False]
print (dfclean)

print ("number of different descriptions: {}".format(dfclean['Description'].str.strip().nunique()))

     InvoiceNo StockCode                      Description  Quantity  \
0       536370     22728        ALARM CLOCK BAKELIKE PINK        24
1       536370     22727        ALARM CLOCK BAKELIKE RED         24
2       536370     22726       ALARM CLOCK BAKELIKE GREEN        12
3       536370     21724  PANDA AND BUNNIES STICKER SHEET        12
4       536370     21883                 STARS GIFT TAPE         24
...        ...       ...                              ...       ...
8551    581587     23256      CHILDRENS CUTLERY SPACEBOY          4
8552    581587     22613      PACK OF 20 SPACEBOY NAPKINS        12
8553    581587     22899     CHILDREN'S APRON DOLLY GIRL          6
8554    581587     23254    CHILDRENS CUTLERY DOLLY GIRL          4
8556    581587     22138    BAKING SET 9 PIECE RETROSPOT          3

              InvoiceDate  UnitPrice  CustomerID
0     2010-12-01 08:45:00       3.75     12583.0
1     2010-12-01 08:45:00       3.75     12583.0
2     2010-12-01 08:45:00       3.75     12583.0
3     2010-12-01 08:45:00       0.85     12583.0
4     2010-12-01 08:45:00       0.65     12583.0
...                   ...        ...         ...
8551  2011-12-09 12:50:00       4.15     12680.0
8552  2011-12-09 12:50:00       0.85     12680.0
8553  2011-12-09 12:50:00       2.10     12680.0
8554  2011-12-09 12:50:00       4.15     12680.0
8556  2011-12-09 12:50:00       4.95     12680.0

[8407 rows x 7 columns]
number of different descriptions: 1563

#  Several transactions include the item POSTAGE, which represents the mailing expenses. In this analysis we are not interested in it, therefore the rows with POSTAGE will be removed. Inspect the effect of this cleaning.

In [106]:
dfclean= dfclean[dfclean['Description'].astype(str).str.startswith('POSTAGE')==False]
print (dfclean)

print ("number of different descriptions: {}".format(dfclean['Description'].str.strip().nunique()))

     InvoiceNo StockCode                      Description  Quantity  \
0       536370     22728        ALARM CLOCK BAKELIKE PINK        24
1       536370     22727        ALARM CLOCK BAKELIKE RED         24
2       536370     22726       ALARM CLOCK BAKELIKE GREEN        12
3       536370     21724  PANDA AND BUNNIES STICKER SHEET        12
4       536370     21883                 STARS GIFT TAPE         24
...        ...       ...                              ...       ...
8551    581587     23256      CHILDRENS CUTLERY SPACEBOY          4
8552    581587     22613      PACK OF 20 SPACEBOY NAPKINS        12
8553    581587     22899     CHILDREN'S APRON DOLLY GIRL          6
8554    581587     23254    CHILDRENS CUTLERY DOLLY GIRL          4
8556    581587     22138    BAKING SET 9 PIECE RETROSPOT          3

              InvoiceDate  UnitPrice  CustomerID
0     2010-12-01 08:45:00       3.75     12583.0
1     2010-12-01 08:45:00       3.75     12583.0
2     2010-12-01 08:45:00       3.75     12583.0
3     2010-12-01 08:45:00       0.85     12583.0
4     2010-12-01 08:45:00       0.65     12583.0
...                   ...        ...         ...
8551  2011-12-09 12:50:00       4.15     12680.0
8552  2011-12-09 12:50:00       0.85     12680.0
8553  2011-12-09 12:50:00       2.10     12680.0
8554  2011-12-09 12:50:00       4.15     12680.0
8556  2011-12-09 12:50:00       4.95     12680.0

[8107 rows x 7 columns]
number of different descriptions: 1562

# After the cleanup, we need to consolidate the items into one transaction per row with products one–hot–encoded. To do so, group by InvoiceNo and Description computing a sum on Quantity, use the Pandas unstack function to move the items from rows to columns, reset the index, fill the missing with zero, store the result in a new dataframe basket and inspect it

In [109]:
transactdf = dfclean.drop('StockCode', axis=1)
transactdf = transactdf.groupby(['InvoiceNo', 'Description']).sum()
//todo use unstack func

print (transactdf)

                                            Quantity          InvoiceDate  \
InvoiceNo Description
536370     SET 2 TEA TOWELS I LOVE LONDON         24  2010-12-01 08:45:00
          ALARM CLOCK BAKELIKE GREEN              12  2010-12-01 08:45:00
          ALARM CLOCK BAKELIKE PINK               24  2010-12-01 08:45:00
          ALARM CLOCK BAKELIKE RED                24  2010-12-01 08:45:00
          CHARLOTTE BAG DOLLY GIRL DESIGN         20  2010-12-01 08:45:00
...                                              ...                  ...
581587    CIRCUS PARADE LUNCH BOX                 12  2011-12-09 12:50:00
          PACK OF 20 SPACEBOY NAPKINS             12  2011-12-09 12:50:00
          PLASTERS IN TIN CIRCUS PARADE           12  2011-12-09 12:50:00
          PLASTERS IN TIN STRONGMAN               12  2011-12-09 12:50:00
          SPACEBOY LUNCH BOX                      12  2011-12-09 12:50:00

                                            UnitPrice  CustomerID
InvoiceNo Description
536370     SET 2 TEA TOWELS I LOVE LONDON        2.95     12583.0
          ALARM CLOCK BAKELIKE GREEN             3.75     12583.0
          ALARM CLOCK BAKELIKE PINK              3.75     12583.0
          ALARM CLOCK BAKELIKE RED               3.75     12583.0
          CHARLOTTE BAG DOLLY GIRL DESIGN        0.85     12583.0
...                                               ...         ...
581587    CIRCUS PARADE LUNCH BOX                1.95     12680.0
          PACK OF 20 SPACEBOY NAPKINS            0.85     12680.0
          PLASTERS IN TIN CIRCUS PARADE          1.65     12680.0
          PLASTERS IN TIN STRONGMAN              1.65     12680.0
          SPACEBOY LUNCH BOX                     1.95     12680.0

[8071 rows x 4 columns]